<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_0dHfuSfkUDUXRbD48J09qDzxEGKr1W0</string>
	<key>GCM_SENDER_ID</key>
	<string>9120101323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tzuyencheng.RoaMuse</string>
	<key>PROJECT_ID</key>
	<string>roamuse-1b0e7</string>
	<key>STORAGE_BUCKET</key>
	<string>roamuse-1b0e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9120101323:ios:263e1614840ee38796bc4e</string>
</dict>
</plist>